h1{
    text-align: center;
}
body{
    margin: 0px;
}
main{
    margin: 20px;
}

.navBar ul{
    background-color: #2c3e50;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px;
    padding-right: 55px;
    

}
.navBar a:hover{
    background-color:  #34495e;;
}
.navBar li{
    float: left;
    margin: 0;
}